body {
    background-color: #ffffff;
}
#files {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 25px 25px 41px 25px;
    text-align: center;
    color: #888;
}
#files label {
    padding: 6px 0;
    color: #FFF;
    font-weight: bold;
    margin: 20px auto;
    width: 100%;
}
#files label span {
    cursor: pointer;
}
#files input {
    width: 100%;
    background: rgba(150,225,150,0.0);
    vertical-align: middle;
    text-align: center;
    padding: 0 50%;
    margin-top: -206px;
    color: #FFF;
    font-weight: bold;
    font-size: 200px;
    opacity: 0;
}
.progress-info {
    text-shadow: initial;
    font-weight: bold;
}
#results {
    display: none;
}
a.classic,
a.classic:hover,
a.classic:focus {
    color: #337AB7;
}

.brand-logo img {
	width: 25px;
}

.left-mg {
    margin-left: 10px;
    margin-right: 10px;
}
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
#render-image {
    max-width: 100%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.input-field .big-prefix {
    width: 6rem;
}
.input-field .big-prefix ~ input,
.input-field .big-prefix ~ textarea,
.input-field .big-prefix ~ label,
.input-field .big-prefix ~ div.select-wrapper  {
    margin-left: 6rem;
    width: 92%;
    width: calc(100% - 6rem);
}
@media only screen and (max-width : 992px) {
    .input-field .big-prefix ~ input {
        width: 82%;
        width: calc(100% - 6rem);
    }
}
@media only screen and (max-width : 600px) {
    .input-field .big-prefix ~ input {
        width: 60%;
        width: calc(100% - 6rem);
    }
}
.file-field .btn.left-mg {
    height: 36px;
    line-height: 36px;
}
.textarea-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}
.hiddendiv.common {
    min-height: 170px;
}
.title-filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.files-buttons a {
    margin-bottom: 10px;
}
.no_border {
    border: 0;
}
.like-label {
    color: #9e9e9e;
    font-size: 1.5rem;
}
.select-lang .select-wrapper span.caret {
    top: -10px;
    color: #FFF;
}
.select-lang .select-wrapper input.select-dropdown {
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: 0;
}
.select-lang-mobile .select-wrapper input.select-dropdown {
    color: #444;
    border-bottom: 0;
}
.select-lang-mobile .select-wrapper span.caret {
    top: -10px;
}
.select-lang,
.select-lang-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
nav .btn-flat {
    color: #fff !important;
    text-transform: initial !important;
}
nav .btn-flat:focus {
    background-color: rgba(0,0,0,0.1) !important;
}

/* pulse animation from Materialize CSS 1.0.0 */
button.pulse {
    margin-left: 1em;
}
.pulse {
    overflow: initial;
    position: relative;
}
.pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}

@-webkit-keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
.margin-bottom-35 {
    margin-bottom: 35px;
}
.toast.teal.accent-3,
.toast.red.accent-2 {
    color: black;
}
.offscreen {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
.small-h1 {
    font-size: 2.2rem;
}

@media only screen and (max-width: 1800px) {
  ul.hide-on-med-and-down {
    display: none !important;
  }
  nav a.button-collapse {
    display: block !important;
  }
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}

.side-nav .btn-flat {
    color: #444 !important;
    padding: 0 1rem;
    text-transform: initial !important;
}

table.highlight > tbody > tr:hover {
    background-color: #c6d4ee;
}

.white-background {
    background-color: #FFF;
}
.width-0 { width: 0%; }
.width-0-1 { width: 0.1%; }
.width-0-2 { width: 0.2%; }
.width-0-3 { width: 0.3%; }
.width-0-4 { width: 0.4%; }
.width-0-5 { width: 0.5%; }
.width-0-6 { width: 0.6%; }
.width-0-7 { width: 0.7%; }
.width-0-8 { width: 0.8%; }
.width-0-9 { width: 0.9%; }
.width-1 { width: 1%; }
.width-1-1 { width: 1.1%; }
.width-1-2 { width: 1.2%; }
.width-1-3 { width: 1.3%; }
.width-1-4 { width: 1.4%; }
.width-1-5 { width: 1.5%; }
.width-1-6 { width: 1.6%; }
.width-1-7 { width: 1.7%; }
.width-1-8 { width: 1.8%; }
.width-1-9 { width: 1.9%; }
.width-2 { width: 2%; }
.width-2-1 { width: 2.1%; }
.width-2-2 { width: 2.2%; }
.width-2-3 { width: 2.3%; }
.width-2-4 { width: 2.4%; }
.width-2-5 { width: 2.5%; }
.width-2-6 { width: 2.6%; }
.width-2-7 { width: 2.7%; }
.width-2-8 { width: 2.8%; }
.width-2-9 { width: 2.9%; }
.width-3 { width: 3%; }
.width-3-1 { width: 3.1%; }
.width-3-2 { width: 3.2%; }
.width-3-3 { width: 3.3%; }
.width-3-4 { width: 3.4%; }
.width-3-5 { width: 3.5%; }
.width-3-6 { width: 3.6%; }
.width-3-7 { width: 3.7%; }
.width-3-8 { width: 3.8%; }
.width-3-9 { width: 3.9%; }
.width-4 { width: 4%; }
.width-4-1 { width: 4.1%; }
.width-4-2 { width: 4.2%; }
.width-4-3 { width: 4.3%; }
.width-4-4 { width: 4.4%; }
.width-4-5 { width: 4.5%; }
.width-4-6 { width: 4.6%; }
.width-4-7 { width: 4.7%; }
.width-4-8 { width: 4.8%; }
.width-4-9 { width: 4.9%; }
.width-5 { width: 5%; }
.width-5-1 { width: 5.1%; }
.width-5-2 { width: 5.2%; }
.width-5-3 { width: 5.3%; }
.width-5-4 { width: 5.4%; }
.width-5-5 { width: 5.5%; }
.width-5-6 { width: 5.6%; }
.width-5-7 { width: 5.7%; }
.width-5-8 { width: 5.8%; }
.width-5-9 { width: 5.9%; }
.width-6 { width: 6%; }
.width-6-1 { width: 6.1%; }
.width-6-2 { width: 6.2%; }
.width-6-3 { width: 6.3%; }
.width-6-4 { width: 6.4%; }
.width-6-5 { width: 6.5%; }
.width-6-6 { width: 6.6%; }
.width-6-7 { width: 6.7%; }
.width-6-8 { width: 6.8%; }
.width-6-9 { width: 6.9%; }
.width-7 { width: 7%; }
.width-7-1 { width: 7.1%; }
.width-7-2 { width: 7.2%; }
.width-7-3 { width: 7.3%; }
.width-7-4 { width: 7.4%; }
.width-7-5 { width: 7.5%; }
.width-7-6 { width: 7.6%; }
.width-7-7 { width: 7.7%; }
.width-7-8 { width: 7.8%; }
.width-7-9 { width: 7.9%; }
.width-8 { width: 8%; }
.width-8-1 { width: 8.1%; }
.width-8-2 { width: 8.2%; }
.width-8-3 { width: 8.3%; }
.width-8-4 { width: 8.4%; }
.width-8-5 { width: 8.5%; }
.width-8-6 { width: 8.6%; }
.width-8-7 { width: 8.7%; }
.width-8-8 { width: 8.8%; }
.width-8-9 { width: 8.9%; }
.width-9 { width: 9%; }
.width-9-1 { width: 9.1%; }
.width-9-2 { width: 9.2%; }
.width-9-3 { width: 9.3%; }
.width-9-4 { width: 9.4%; }
.width-9-5 { width: 9.5%; }
.width-9-6 { width: 9.6%; }
.width-9-7 { width: 9.7%; }
.width-9-8 { width: 9.8%; }
.width-9-9 { width: 9.9%; }
.width-10 { width: 10%; }
.width-10-1 { width: 10.1%; }
.width-10-2 { width: 10.2%; }
.width-10-3 { width: 10.3%; }
.width-10-4 { width: 10.4%; }
.width-10-5 { width: 10.5%; }
.width-10-6 { width: 10.6%; }
.width-10-7 { width: 10.7%; }
.width-10-8 { width: 10.8%; }
.width-10-9 { width: 10.9%; }
.width-11 { width: 11%; }
.width-11-1 { width: 11.1%; }
.width-11-2 { width: 11.2%; }
.width-11-3 { width: 11.3%; }
.width-11-4 { width: 11.4%; }
.width-11-5 { width: 11.5%; }
.width-11-6 { width: 11.6%; }
.width-11-7 { width: 11.7%; }
.width-11-8 { width: 11.8%; }
.width-11-9 { width: 11.9%; }
.width-12 { width: 12%; }
.width-12-1 { width: 12.1%; }
.width-12-2 { width: 12.2%; }
.width-12-3 { width: 12.3%; }
.width-12-4 { width: 12.4%; }
.width-12-5 { width: 12.5%; }
.width-12-6 { width: 12.6%; }
.width-12-7 { width: 12.7%; }
.width-12-8 { width: 12.8%; }
.width-12-9 { width: 12.9%; }
.width-13 { width: 13%; }
.width-13-1 { width: 13.1%; }
.width-13-2 { width: 13.2%; }
.width-13-3 { width: 13.3%; }
.width-13-4 { width: 13.4%; }
.width-13-5 { width: 13.5%; }
.width-13-6 { width: 13.6%; }
.width-13-7 { width: 13.7%; }
.width-13-8 { width: 13.8%; }
.width-13-9 { width: 13.9%; }
.width-14 { width: 14%; }
.width-14-1 { width: 14.1%; }
.width-14-2 { width: 14.2%; }
.width-14-3 { width: 14.3%; }
.width-14-4 { width: 14.4%; }
.width-14-5 { width: 14.5%; }
.width-14-6 { width: 14.6%; }
.width-14-7 { width: 14.7%; }
.width-14-8 { width: 14.8%; }
.width-14-9 { width: 14.9%; }
.width-15 { width: 15%; }
.width-15-1 { width: 15.1%; }
.width-15-2 { width: 15.2%; }
.width-15-3 { width: 15.3%; }
.width-15-4 { width: 15.4%; }
.width-15-5 { width: 15.5%; }
.width-15-6 { width: 15.6%; }
.width-15-7 { width: 15.7%; }
.width-15-8 { width: 15.8%; }
.width-15-9 { width: 15.9%; }
.width-16 { width: 16%; }
.width-16-1 { width: 16.1%; }
.width-16-2 { width: 16.2%; }
.width-16-3 { width: 16.3%; }
.width-16-4 { width: 16.4%; }
.width-16-5 { width: 16.5%; }
.width-16-6 { width: 16.6%; }
.width-16-7 { width: 16.7%; }
.width-16-8 { width: 16.8%; }
.width-16-9 { width: 16.9%; }
.width-17 { width: 17%; }
.width-17-1 { width: 17.1%; }
.width-17-2 { width: 17.2%; }
.width-17-3 { width: 17.3%; }
.width-17-4 { width: 17.4%; }
.width-17-5 { width: 17.5%; }
.width-17-6 { width: 17.6%; }
.width-17-7 { width: 17.7%; }
.width-17-8 { width: 17.8%; }
.width-17-9 { width: 17.9%; }
.width-18 { width: 18%; }
.width-18-1 { width: 18.1%; }
.width-18-2 { width: 18.2%; }
.width-18-3 { width: 18.3%; }
.width-18-4 { width: 18.4%; }
.width-18-5 { width: 18.5%; }
.width-18-6 { width: 18.6%; }
.width-18-7 { width: 18.7%; }
.width-18-8 { width: 18.8%; }
.width-18-9 { width: 18.9%; }
.width-19 { width: 19%; }
.width-19-1 { width: 19.1%; }
.width-19-2 { width: 19.2%; }
.width-19-3 { width: 19.3%; }
.width-19-4 { width: 19.4%; }
.width-19-5 { width: 19.5%; }
.width-19-6 { width: 19.6%; }
.width-19-7 { width: 19.7%; }
.width-19-8 { width: 19.8%; }
.width-19-9 { width: 19.9%; }
.width-20 { width: 20%; }
.width-20-1 { width: 20.1%; }
.width-20-2 { width: 20.2%; }
.width-20-3 { width: 20.3%; }
.width-20-4 { width: 20.4%; }
.width-20-5 { width: 20.5%; }
.width-20-6 { width: 20.6%; }
.width-20-7 { width: 20.7%; }
.width-20-8 { width: 20.8%; }
.width-20-9 { width: 20.9%; }
.width-21 { width: 21%; }
.width-21-1 { width: 21.1%; }
.width-21-2 { width: 21.2%; }
.width-21-3 { width: 21.3%; }
.width-21-4 { width: 21.4%; }
.width-21-5 { width: 21.5%; }
.width-21-6 { width: 21.6%; }
.width-21-7 { width: 21.7%; }
.width-21-8 { width: 21.8%; }
.width-21-9 { width: 21.9%; }
.width-22 { width: 22%; }
.width-22-1 { width: 22.1%; }
.width-22-2 { width: 22.2%; }
.width-22-3 { width: 22.3%; }
.width-22-4 { width: 22.4%; }
.width-22-5 { width: 22.5%; }
.width-22-6 { width: 22.6%; }
.width-22-7 { width: 22.7%; }
.width-22-8 { width: 22.8%; }
.width-22-9 { width: 22.9%; }
.width-23 { width: 23%; }
.width-23-1 { width: 23.1%; }
.width-23-2 { width: 23.2%; }
.width-23-3 { width: 23.3%; }
.width-23-4 { width: 23.4%; }
.width-23-5 { width: 23.5%; }
.width-23-6 { width: 23.6%; }
.width-23-7 { width: 23.7%; }
.width-23-8 { width: 23.8%; }
.width-23-9 { width: 23.9%; }
.width-24 { width: 24%; }
.width-24-1 { width: 24.1%; }
.width-24-2 { width: 24.2%; }
.width-24-3 { width: 24.3%; }
.width-24-4 { width: 24.4%; }
.width-24-5 { width: 24.5%; }
.width-24-6 { width: 24.6%; }
.width-24-7 { width: 24.7%; }
.width-24-8 { width: 24.8%; }
.width-24-9 { width: 24.9%; }
.width-25 { width: 25%; }
.width-25-1 { width: 25.1%; }
.width-25-2 { width: 25.2%; }
.width-25-3 { width: 25.3%; }
.width-25-4 { width: 25.4%; }
.width-25-5 { width: 25.5%; }
.width-25-6 { width: 25.6%; }
.width-25-7 { width: 25.7%; }
.width-25-8 { width: 25.8%; }
.width-25-9 { width: 25.9%; }
.width-26 { width: 26%; }
.width-26-1 { width: 26.1%; }
.width-26-2 { width: 26.2%; }
.width-26-3 { width: 26.3%; }
.width-26-4 { width: 26.4%; }
.width-26-5 { width: 26.5%; }
.width-26-6 { width: 26.6%; }
.width-26-7 { width: 26.7%; }
.width-26-8 { width: 26.8%; }
.width-26-9 { width: 26.9%; }
.width-27 { width: 27%; }
.width-27-1 { width: 27.1%; }
.width-27-2 { width: 27.2%; }
.width-27-3 { width: 27.3%; }
.width-27-4 { width: 27.4%; }
.width-27-5 { width: 27.5%; }
.width-27-6 { width: 27.6%; }
.width-27-7 { width: 27.7%; }
.width-27-8 { width: 27.8%; }
.width-27-9 { width: 27.9%; }
.width-28 { width: 28%; }
.width-28-1 { width: 28.1%; }
.width-28-2 { width: 28.2%; }
.width-28-3 { width: 28.3%; }
.width-28-4 { width: 28.4%; }
.width-28-5 { width: 28.5%; }
.width-28-6 { width: 28.6%; }
.width-28-7 { width: 28.7%; }
.width-28-8 { width: 28.8%; }
.width-28-9 { width: 28.9%; }
.width-29 { width: 29%; }
.width-29-1 { width: 29.1%; }
.width-29-2 { width: 29.2%; }
.width-29-3 { width: 29.3%; }
.width-29-4 { width: 29.4%; }
.width-29-5 { width: 29.5%; }
.width-29-6 { width: 29.6%; }
.width-29-7 { width: 29.7%; }
.width-29-8 { width: 29.8%; }
.width-29-9 { width: 29.9%; }
.width-30 { width: 30%; }
.width-30-1 { width: 30.1%; }
.width-30-2 { width: 30.2%; }
.width-30-3 { width: 30.3%; }
.width-30-4 { width: 30.4%; }
.width-30-5 { width: 30.5%; }
.width-30-6 { width: 30.6%; }
.width-30-7 { width: 30.7%; }
.width-30-8 { width: 30.8%; }
.width-30-9 { width: 30.9%; }
.width-31 { width: 31%; }
.width-31-1 { width: 31.1%; }
.width-31-2 { width: 31.2%; }
.width-31-3 { width: 31.3%; }
.width-31-4 { width: 31.4%; }
.width-31-5 { width: 31.5%; }
.width-31-6 { width: 31.6%; }
.width-31-7 { width: 31.7%; }
.width-31-8 { width: 31.8%; }
.width-31-9 { width: 31.9%; }
.width-32 { width: 32%; }
.width-32-1 { width: 32.1%; }
.width-32-2 { width: 32.2%; }
.width-32-3 { width: 32.3%; }
.width-32-4 { width: 32.4%; }
.width-32-5 { width: 32.5%; }
.width-32-6 { width: 32.6%; }
.width-32-7 { width: 32.7%; }
.width-32-8 { width: 32.8%; }
.width-32-9 { width: 32.9%; }
.width-33 { width: 33%; }
.width-33-1 { width: 33.1%; }
.width-33-2 { width: 33.2%; }
.width-33-3 { width: 33.3%; }
.width-33-4 { width: 33.4%; }
.width-33-5 { width: 33.5%; }
.width-33-6 { width: 33.6%; }
.width-33-7 { width: 33.7%; }
.width-33-8 { width: 33.8%; }
.width-33-9 { width: 33.9%; }
.width-34 { width: 34%; }
.width-34-1 { width: 34.1%; }
.width-34-2 { width: 34.2%; }
.width-34-3 { width: 34.3%; }
.width-34-4 { width: 34.4%; }
.width-34-5 { width: 34.5%; }
.width-34-6 { width: 34.6%; }
.width-34-7 { width: 34.7%; }
.width-34-8 { width: 34.8%; }
.width-34-9 { width: 34.9%; }
.width-35 { width: 35%; }
.width-35-1 { width: 35.1%; }
.width-35-2 { width: 35.2%; }
.width-35-3 { width: 35.3%; }
.width-35-4 { width: 35.4%; }
.width-35-5 { width: 35.5%; }
.width-35-6 { width: 35.6%; }
.width-35-7 { width: 35.7%; }
.width-35-8 { width: 35.8%; }
.width-35-9 { width: 35.9%; }
.width-36 { width: 36%; }
.width-36-1 { width: 36.1%; }
.width-36-2 { width: 36.2%; }
.width-36-3 { width: 36.3%; }
.width-36-4 { width: 36.4%; }
.width-36-5 { width: 36.5%; }
.width-36-6 { width: 36.6%; }
.width-36-7 { width: 36.7%; }
.width-36-8 { width: 36.8%; }
.width-36-9 { width: 36.9%; }
.width-37 { width: 37%; }
.width-37-1 { width: 37.1%; }
.width-37-2 { width: 37.2%; }
.width-37-3 { width: 37.3%; }
.width-37-4 { width: 37.4%; }
.width-37-5 { width: 37.5%; }
.width-37-6 { width: 37.6%; }
.width-37-7 { width: 37.7%; }
.width-37-8 { width: 37.8%; }
.width-37-9 { width: 37.9%; }
.width-38 { width: 38%; }
.width-38-1 { width: 38.1%; }
.width-38-2 { width: 38.2%; }
.width-38-3 { width: 38.3%; }
.width-38-4 { width: 38.4%; }
.width-38-5 { width: 38.5%; }
.width-38-6 { width: 38.6%; }
.width-38-7 { width: 38.7%; }
.width-38-8 { width: 38.8%; }
.width-38-9 { width: 38.9%; }
.width-39 { width: 39%; }
.width-39-1 { width: 39.1%; }
.width-39-2 { width: 39.2%; }
.width-39-3 { width: 39.3%; }
.width-39-4 { width: 39.4%; }
.width-39-5 { width: 39.5%; }
.width-39-6 { width: 39.6%; }
.width-39-7 { width: 39.7%; }
.width-39-8 { width: 39.8%; }
.width-39-9 { width: 39.9%; }
.width-40 { width: 40%; }
.width-40-1 { width: 40.1%; }
.width-40-2 { width: 40.2%; }
.width-40-3 { width: 40.3%; }
.width-40-4 { width: 40.4%; }
.width-40-5 { width: 40.5%; }
.width-40-6 { width: 40.6%; }
.width-40-7 { width: 40.7%; }
.width-40-8 { width: 40.8%; }
.width-40-9 { width: 40.9%; }
.width-41 { width: 41%; }
.width-41-1 { width: 41.1%; }
.width-41-2 { width: 41.2%; }
.width-41-3 { width: 41.3%; }
.width-41-4 { width: 41.4%; }
.width-41-5 { width: 41.5%; }
.width-41-6 { width: 41.6%; }
.width-41-7 { width: 41.7%; }
.width-41-8 { width: 41.8%; }
.width-41-9 { width: 41.9%; }
.width-42 { width: 42%; }
.width-42-1 { width: 42.1%; }
.width-42-2 { width: 42.2%; }
.width-42-3 { width: 42.3%; }
.width-42-4 { width: 42.4%; }
.width-42-5 { width: 42.5%; }
.width-42-6 { width: 42.6%; }
.width-42-7 { width: 42.7%; }
.width-42-8 { width: 42.8%; }
.width-42-9 { width: 42.9%; }
.width-43 { width: 43%; }
.width-43-1 { width: 43.1%; }
.width-43-2 { width: 43.2%; }
.width-43-3 { width: 43.3%; }
.width-43-4 { width: 43.4%; }
.width-43-5 { width: 43.5%; }
.width-43-6 { width: 43.6%; }
.width-43-7 { width: 43.7%; }
.width-43-8 { width: 43.8%; }
.width-43-9 { width: 43.9%; }
.width-44 { width: 44%; }
.width-44-1 { width: 44.1%; }
.width-44-2 { width: 44.2%; }
.width-44-3 { width: 44.3%; }
.width-44-4 { width: 44.4%; }
.width-44-5 { width: 44.5%; }
.width-44-6 { width: 44.6%; }
.width-44-7 { width: 44.7%; }
.width-44-8 { width: 44.8%; }
.width-44-9 { width: 44.9%; }
.width-45 { width: 45%; }
.width-45-1 { width: 45.1%; }
.width-45-2 { width: 45.2%; }
.width-45-3 { width: 45.3%; }
.width-45-4 { width: 45.4%; }
.width-45-5 { width: 45.5%; }
.width-45-6 { width: 45.6%; }
.width-45-7 { width: 45.7%; }
.width-45-8 { width: 45.8%; }
.width-45-9 { width: 45.9%; }
.width-46 { width: 46%; }
.width-46-1 { width: 46.1%; }
.width-46-2 { width: 46.2%; }
.width-46-3 { width: 46.3%; }
.width-46-4 { width: 46.4%; }
.width-46-5 { width: 46.5%; }
.width-46-6 { width: 46.6%; }
.width-46-7 { width: 46.7%; }
.width-46-8 { width: 46.8%; }
.width-46-9 { width: 46.9%; }
.width-47 { width: 47%; }
.width-47-1 { width: 47.1%; }
.width-47-2 { width: 47.2%; }
.width-47-3 { width: 47.3%; }
.width-47-4 { width: 47.4%; }
.width-47-5 { width: 47.5%; }
.width-47-6 { width: 47.6%; }
.width-47-7 { width: 47.7%; }
.width-47-8 { width: 47.8%; }
.width-47-9 { width: 47.9%; }
.width-48 { width: 48%; }
.width-48-1 { width: 48.1%; }
.width-48-2 { width: 48.2%; }
.width-48-3 { width: 48.3%; }
.width-48-4 { width: 48.4%; }
.width-48-5 { width: 48.5%; }
.width-48-6 { width: 48.6%; }
.width-48-7 { width: 48.7%; }
.width-48-8 { width: 48.8%; }
.width-48-9 { width: 48.9%; }
.width-49 { width: 49%; }
.width-49-1 { width: 49.1%; }
.width-49-2 { width: 49.2%; }
.width-49-3 { width: 49.3%; }
.width-49-4 { width: 49.4%; }
.width-49-5 { width: 49.5%; }
.width-49-6 { width: 49.6%; }
.width-49-7 { width: 49.7%; }
.width-49-8 { width: 49.8%; }
.width-49-9 { width: 49.9%; }
.width-50 { width: 50%; }
.width-50-1 { width: 50.1%; }
.width-50-2 { width: 50.2%; }
.width-50-3 { width: 50.3%; }
.width-50-4 { width: 50.4%; }
.width-50-5 { width: 50.5%; }
.width-50-6 { width: 50.6%; }
.width-50-7 { width: 50.7%; }
.width-50-8 { width: 50.8%; }
.width-50-9 { width: 50.9%; }
.width-51 { width: 51%; }
.width-51-1 { width: 51.1%; }
.width-51-2 { width: 51.2%; }
.width-51-3 { width: 51.3%; }
.width-51-4 { width: 51.4%; }
.width-51-5 { width: 51.5%; }
.width-51-6 { width: 51.6%; }
.width-51-7 { width: 51.7%; }
.width-51-8 { width: 51.8%; }
.width-51-9 { width: 51.9%; }
.width-52 { width: 52%; }
.width-52-1 { width: 52.1%; }
.width-52-2 { width: 52.2%; }
.width-52-3 { width: 52.3%; }
.width-52-4 { width: 52.4%; }
.width-52-5 { width: 52.5%; }
.width-52-6 { width: 52.6%; }
.width-52-7 { width: 52.7%; }
.width-52-8 { width: 52.8%; }
.width-52-9 { width: 52.9%; }
.width-53 { width: 53%; }
.width-53-1 { width: 53.1%; }
.width-53-2 { width: 53.2%; }
.width-53-3 { width: 53.3%; }
.width-53-4 { width: 53.4%; }
.width-53-5 { width: 53.5%; }
.width-53-6 { width: 53.6%; }
.width-53-7 { width: 53.7%; }
.width-53-8 { width: 53.8%; }
.width-53-9 { width: 53.9%; }
.width-54 { width: 54%; }
.width-54-1 { width: 54.1%; }
.width-54-2 { width: 54.2%; }
.width-54-3 { width: 54.3%; }
.width-54-4 { width: 54.4%; }
.width-54-5 { width: 54.5%; }
.width-54-6 { width: 54.6%; }
.width-54-7 { width: 54.7%; }
.width-54-8 { width: 54.8%; }
.width-54-9 { width: 54.9%; }
.width-55 { width: 55%; }
.width-55-1 { width: 55.1%; }
.width-55-2 { width: 55.2%; }
.width-55-3 { width: 55.3%; }
.width-55-4 { width: 55.4%; }
.width-55-5 { width: 55.5%; }
.width-55-6 { width: 55.6%; }
.width-55-7 { width: 55.7%; }
.width-55-8 { width: 55.8%; }
.width-55-9 { width: 55.9%; }
.width-56 { width: 56%; }
.width-56-1 { width: 56.1%; }
.width-56-2 { width: 56.2%; }
.width-56-3 { width: 56.3%; }
.width-56-4 { width: 56.4%; }
.width-56-5 { width: 56.5%; }
.width-56-6 { width: 56.6%; }
.width-56-7 { width: 56.7%; }
.width-56-8 { width: 56.8%; }
.width-56-9 { width: 56.9%; }
.width-57 { width: 57%; }
.width-57-1 { width: 57.1%; }
.width-57-2 { width: 57.2%; }
.width-57-3 { width: 57.3%; }
.width-57-4 { width: 57.4%; }
.width-57-5 { width: 57.5%; }
.width-57-6 { width: 57.6%; }
.width-57-7 { width: 57.7%; }
.width-57-8 { width: 57.8%; }
.width-57-9 { width: 57.9%; }
.width-58 { width: 58%; }
.width-58-1 { width: 58.1%; }
.width-58-2 { width: 58.2%; }
.width-58-3 { width: 58.3%; }
.width-58-4 { width: 58.4%; }
.width-58-5 { width: 58.5%; }
.width-58-6 { width: 58.6%; }
.width-58-7 { width: 58.7%; }
.width-58-8 { width: 58.8%; }
.width-58-9 { width: 58.9%; }
.width-59 { width: 59%; }
.width-59-1 { width: 59.1%; }
.width-59-2 { width: 59.2%; }
.width-59-3 { width: 59.3%; }
.width-59-4 { width: 59.4%; }
.width-59-5 { width: 59.5%; }
.width-59-6 { width: 59.6%; }
.width-59-7 { width: 59.7%; }
.width-59-8 { width: 59.8%; }
.width-59-9 { width: 59.9%; }
.width-60 { width: 60%; }
.width-60-1 { width: 60.1%; }
.width-60-2 { width: 60.2%; }
.width-60-3 { width: 60.3%; }
.width-60-4 { width: 60.4%; }
.width-60-5 { width: 60.5%; }
.width-60-6 { width: 60.6%; }
.width-60-7 { width: 60.7%; }
.width-60-8 { width: 60.8%; }
.width-60-9 { width: 60.9%; }
.width-61 { width: 61%; }
.width-61-1 { width: 61.1%; }
.width-61-2 { width: 61.2%; }
.width-61-3 { width: 61.3%; }
.width-61-4 { width: 61.4%; }
.width-61-5 { width: 61.5%; }
.width-61-6 { width: 61.6%; }
.width-61-7 { width: 61.7%; }
.width-61-8 { width: 61.8%; }
.width-61-9 { width: 61.9%; }
.width-62 { width: 62%; }
.width-62-1 { width: 62.1%; }
.width-62-2 { width: 62.2%; }
.width-62-3 { width: 62.3%; }
.width-62-4 { width: 62.4%; }
.width-62-5 { width: 62.5%; }
.width-62-6 { width: 62.6%; }
.width-62-7 { width: 62.7%; }
.width-62-8 { width: 62.8%; }
.width-62-9 { width: 62.9%; }
.width-63 { width: 63%; }
.width-63-1 { width: 63.1%; }
.width-63-2 { width: 63.2%; }
.width-63-3 { width: 63.3%; }
.width-63-4 { width: 63.4%; }
.width-63-5 { width: 63.5%; }
.width-63-6 { width: 63.6%; }
.width-63-7 { width: 63.7%; }
.width-63-8 { width: 63.8%; }
.width-63-9 { width: 63.9%; }
.width-64 { width: 64%; }
.width-64-1 { width: 64.1%; }
.width-64-2 { width: 64.2%; }
.width-64-3 { width: 64.3%; }
.width-64-4 { width: 64.4%; }
.width-64-5 { width: 64.5%; }
.width-64-6 { width: 64.6%; }
.width-64-7 { width: 64.7%; }
.width-64-8 { width: 64.8%; }
.width-64-9 { width: 64.9%; }
.width-65 { width: 65%; }
.width-65-1 { width: 65.1%; }
.width-65-2 { width: 65.2%; }
.width-65-3 { width: 65.3%; }
.width-65-4 { width: 65.4%; }
.width-65-5 { width: 65.5%; }
.width-65-6 { width: 65.6%; }
.width-65-7 { width: 65.7%; }
.width-65-8 { width: 65.8%; }
.width-65-9 { width: 65.9%; }
.width-66 { width: 66%; }
.width-66-1 { width: 66.1%; }
.width-66-2 { width: 66.2%; }
.width-66-3 { width: 66.3%; }
.width-66-4 { width: 66.4%; }
.width-66-5 { width: 66.5%; }
.width-66-6 { width: 66.6%; }
.width-66-7 { width: 66.7%; }
.width-66-8 { width: 66.8%; }
.width-66-9 { width: 66.9%; }
.width-67 { width: 67%; }
.width-67-1 { width: 67.1%; }
.width-67-2 { width: 67.2%; }
.width-67-3 { width: 67.3%; }
.width-67-4 { width: 67.4%; }
.width-67-5 { width: 67.5%; }
.width-67-6 { width: 67.6%; }
.width-67-7 { width: 67.7%; }
.width-67-8 { width: 67.8%; }
.width-67-9 { width: 67.9%; }
.width-68 { width: 68%; }
.width-68-1 { width: 68.1%; }
.width-68-2 { width: 68.2%; }
.width-68-3 { width: 68.3%; }
.width-68-4 { width: 68.4%; }
.width-68-5 { width: 68.5%; }
.width-68-6 { width: 68.6%; }
.width-68-7 { width: 68.7%; }
.width-68-8 { width: 68.8%; }
.width-68-9 { width: 68.9%; }
.width-69 { width: 69%; }
.width-69-1 { width: 69.1%; }
.width-69-2 { width: 69.2%; }
.width-69-3 { width: 69.3%; }
.width-69-4 { width: 69.4%; }
.width-69-5 { width: 69.5%; }
.width-69-6 { width: 69.6%; }
.width-69-7 { width: 69.7%; }
.width-69-8 { width: 69.8%; }
.width-69-9 { width: 69.9%; }
.width-70 { width: 70%; }
.width-70-1 { width: 70.1%; }
.width-70-2 { width: 70.2%; }
.width-70-3 { width: 70.3%; }
.width-70-4 { width: 70.4%; }
.width-70-5 { width: 70.5%; }
.width-70-6 { width: 70.6%; }
.width-70-7 { width: 70.7%; }
.width-70-8 { width: 70.8%; }
.width-70-9 { width: 70.9%; }
.width-71 { width: 71%; }
.width-71-1 { width: 71.1%; }
.width-71-2 { width: 71.2%; }
.width-71-3 { width: 71.3%; }
.width-71-4 { width: 71.4%; }
.width-71-5 { width: 71.5%; }
.width-71-6 { width: 71.6%; }
.width-71-7 { width: 71.7%; }
.width-71-8 { width: 71.8%; }
.width-71-9 { width: 71.9%; }
.width-72 { width: 72%; }
.width-72-1 { width: 72.1%; }
.width-72-2 { width: 72.2%; }
.width-72-3 { width: 72.3%; }
.width-72-4 { width: 72.4%; }
.width-72-5 { width: 72.5%; }
.width-72-6 { width: 72.6%; }
.width-72-7 { width: 72.7%; }
.width-72-8 { width: 72.8%; }
.width-72-9 { width: 72.9%; }
.width-73 { width: 73%; }
.width-73-1 { width: 73.1%; }
.width-73-2 { width: 73.2%; }
.width-73-3 { width: 73.3%; }
.width-73-4 { width: 73.4%; }
.width-73-5 { width: 73.5%; }
.width-73-6 { width: 73.6%; }
.width-73-7 { width: 73.7%; }
.width-73-8 { width: 73.8%; }
.width-73-9 { width: 73.9%; }
.width-74 { width: 74%; }
.width-74-1 { width: 74.1%; }
.width-74-2 { width: 74.2%; }
.width-74-3 { width: 74.3%; }
.width-74-4 { width: 74.4%; }
.width-74-5 { width: 74.5%; }
.width-74-6 { width: 74.6%; }
.width-74-7 { width: 74.7%; }
.width-74-8 { width: 74.8%; }
.width-74-9 { width: 74.9%; }
.width-75 { width: 75%; }
.width-75-1 { width: 75.1%; }
.width-75-2 { width: 75.2%; }
.width-75-3 { width: 75.3%; }
.width-75-4 { width: 75.4%; }
.width-75-5 { width: 75.5%; }
.width-75-6 { width: 75.6%; }
.width-75-7 { width: 75.7%; }
.width-75-8 { width: 75.8%; }
.width-75-9 { width: 75.9%; }
.width-76 { width: 76%; }
.width-76-1 { width: 76.1%; }
.width-76-2 { width: 76.2%; }
.width-76-3 { width: 76.3%; }
.width-76-4 { width: 76.4%; }
.width-76-5 { width: 76.5%; }
.width-76-6 { width: 76.6%; }
.width-76-7 { width: 76.7%; }
.width-76-8 { width: 76.8%; }
.width-76-9 { width: 76.9%; }
.width-77 { width: 77%; }
.width-77-1 { width: 77.1%; }
.width-77-2 { width: 77.2%; }
.width-77-3 { width: 77.3%; }
.width-77-4 { width: 77.4%; }
.width-77-5 { width: 77.5%; }
.width-77-6 { width: 77.6%; }
.width-77-7 { width: 77.7%; }
.width-77-8 { width: 77.8%; }
.width-77-9 { width: 77.9%; }
.width-78 { width: 78%; }
.width-78-1 { width: 78.1%; }
.width-78-2 { width: 78.2%; }
.width-78-3 { width: 78.3%; }
.width-78-4 { width: 78.4%; }
.width-78-5 { width: 78.5%; }
.width-78-6 { width: 78.6%; }
.width-78-7 { width: 78.7%; }
.width-78-8 { width: 78.8%; }
.width-78-9 { width: 78.9%; }
.width-79 { width: 79%; }
.width-79-1 { width: 79.1%; }
.width-79-2 { width: 79.2%; }
.width-79-3 { width: 79.3%; }
.width-79-4 { width: 79.4%; }
.width-79-5 { width: 79.5%; }
.width-79-6 { width: 79.6%; }
.width-79-7 { width: 79.7%; }
.width-79-8 { width: 79.8%; }
.width-79-9 { width: 79.9%; }
.width-80 { width: 80%; }
.width-80-1 { width: 80.1%; }
.width-80-2 { width: 80.2%; }
.width-80-3 { width: 80.3%; }
.width-80-4 { width: 80.4%; }
.width-80-5 { width: 80.5%; }
.width-80-6 { width: 80.6%; }
.width-80-7 { width: 80.7%; }
.width-80-8 { width: 80.8%; }
.width-80-9 { width: 80.9%; }
.width-81 { width: 81%; }
.width-81-1 { width: 81.1%; }
.width-81-2 { width: 81.2%; }
.width-81-3 { width: 81.3%; }
.width-81-4 { width: 81.4%; }
.width-81-5 { width: 81.5%; }
.width-81-6 { width: 81.6%; }
.width-81-7 { width: 81.7%; }
.width-81-8 { width: 81.8%; }
.width-81-9 { width: 81.9%; }
.width-82 { width: 82%; }
.width-82-1 { width: 82.1%; }
.width-82-2 { width: 82.2%; }
.width-82-3 { width: 82.3%; }
.width-82-4 { width: 82.4%; }
.width-82-5 { width: 82.5%; }
.width-82-6 { width: 82.6%; }
.width-82-7 { width: 82.7%; }
.width-82-8 { width: 82.8%; }
.width-82-9 { width: 82.9%; }
.width-83 { width: 83%; }
.width-83-1 { width: 83.1%; }
.width-83-2 { width: 83.2%; }
.width-83-3 { width: 83.3%; }
.width-83-4 { width: 83.4%; }
.width-83-5 { width: 83.5%; }
.width-83-6 { width: 83.6%; }
.width-83-7 { width: 83.7%; }
.width-83-8 { width: 83.8%; }
.width-83-9 { width: 83.9%; }
.width-84 { width: 84%; }
.width-84-1 { width: 84.1%; }
.width-84-2 { width: 84.2%; }
.width-84-3 { width: 84.3%; }
.width-84-4 { width: 84.4%; }
.width-84-5 { width: 84.5%; }
.width-84-6 { width: 84.6%; }
.width-84-7 { width: 84.7%; }
.width-84-8 { width: 84.8%; }
.width-84-9 { width: 84.9%; }
.width-85 { width: 85%; }
.width-85-1 { width: 85.1%; }
.width-85-2 { width: 85.2%; }
.width-85-3 { width: 85.3%; }
.width-85-4 { width: 85.4%; }
.width-85-5 { width: 85.5%; }
.width-85-6 { width: 85.6%; }
.width-85-7 { width: 85.7%; }
.width-85-8 { width: 85.8%; }
.width-85-9 { width: 85.9%; }
.width-86 { width: 86%; }
.width-86-1 { width: 86.1%; }
.width-86-2 { width: 86.2%; }
.width-86-3 { width: 86.3%; }
.width-86-4 { width: 86.4%; }
.width-86-5 { width: 86.5%; }
.width-86-6 { width: 86.6%; }
.width-86-7 { width: 86.7%; }
.width-86-8 { width: 86.8%; }
.width-86-9 { width: 86.9%; }
.width-87 { width: 87%; }
.width-87-1 { width: 87.1%; }
.width-87-2 { width: 87.2%; }
.width-87-3 { width: 87.3%; }
.width-87-4 { width: 87.4%; }
.width-87-5 { width: 87.5%; }
.width-87-6 { width: 87.6%; }
.width-87-7 { width: 87.7%; }
.width-87-8 { width: 87.8%; }
.width-87-9 { width: 87.9%; }
.width-88 { width: 88%; }
.width-88-1 { width: 88.1%; }
.width-88-2 { width: 88.2%; }
.width-88-3 { width: 88.3%; }
.width-88-4 { width: 88.4%; }
.width-88-5 { width: 88.5%; }
.width-88-6 { width: 88.6%; }
.width-88-7 { width: 88.7%; }
.width-88-8 { width: 88.8%; }
.width-88-9 { width: 88.9%; }
.width-89 { width: 89%; }
.width-89-1 { width: 89.1%; }
.width-89-2 { width: 89.2%; }
.width-89-3 { width: 89.3%; }
.width-89-4 { width: 89.4%; }
.width-89-5 { width: 89.5%; }
.width-89-6 { width: 89.6%; }
.width-89-7 { width: 89.7%; }
.width-89-8 { width: 89.8%; }
.width-89-9 { width: 89.9%; }
.width-90 { width: 90%; }
.width-90-1 { width: 90.1%; }
.width-90-2 { width: 90.2%; }
.width-90-3 { width: 90.3%; }
.width-90-4 { width: 90.4%; }
.width-90-5 { width: 90.5%; }
.width-90-6 { width: 90.6%; }
.width-90-7 { width: 90.7%; }
.width-90-8 { width: 90.8%; }
.width-90-9 { width: 90.9%; }
.width-91 { width: 91%; }
.width-91-1 { width: 91.1%; }
.width-91-2 { width: 91.2%; }
.width-91-3 { width: 91.3%; }
.width-91-4 { width: 91.4%; }
.width-91-5 { width: 91.5%; }
.width-91-6 { width: 91.6%; }
.width-91-7 { width: 91.7%; }
.width-91-8 { width: 91.8%; }
.width-91-9 { width: 91.9%; }
.width-92 { width: 92%; }
.width-92-1 { width: 92.1%; }
.width-92-2 { width: 92.2%; }
.width-92-3 { width: 92.3%; }
.width-92-4 { width: 92.4%; }
.width-92-5 { width: 92.5%; }
.width-92-6 { width: 92.6%; }
.width-92-7 { width: 92.7%; }
.width-92-8 { width: 92.8%; }
.width-92-9 { width: 92.9%; }
.width-93 { width: 93%; }
.width-93-1 { width: 93.1%; }
.width-93-2 { width: 93.2%; }
.width-93-3 { width: 93.3%; }
.width-93-4 { width: 93.4%; }
.width-93-5 { width: 93.5%; }
.width-93-6 { width: 93.6%; }
.width-93-7 { width: 93.7%; }
.width-93-8 { width: 93.8%; }
.width-93-9 { width: 93.9%; }
.width-94 { width: 94%; }
.width-94-1 { width: 94.1%; }
.width-94-2 { width: 94.2%; }
.width-94-3 { width: 94.3%; }
.width-94-4 { width: 94.4%; }
.width-94-5 { width: 94.5%; }
.width-94-6 { width: 94.6%; }
.width-94-7 { width: 94.7%; }
.width-94-8 { width: 94.8%; }
.width-94-9 { width: 94.9%; }
.width-95 { width: 95%; }
.width-95-1 { width: 95.1%; }
.width-95-2 { width: 95.2%; }
.width-95-3 { width: 95.3%; }
.width-95-4 { width: 95.4%; }
.width-95-5 { width: 95.5%; }
.width-95-6 { width: 95.6%; }
.width-95-7 { width: 95.7%; }
.width-95-8 { width: 95.8%; }
.width-95-9 { width: 95.9%; }
.width-96 { width: 96%; }
.width-96-1 { width: 96.1%; }
.width-96-2 { width: 96.2%; }
.width-96-3 { width: 96.3%; }
.width-96-4 { width: 96.4%; }
.width-96-5 { width: 96.5%; }
.width-96-6 { width: 96.6%; }
.width-96-7 { width: 96.7%; }
.width-96-8 { width: 96.8%; }
.width-96-9 { width: 96.9%; }
.width-97 { width: 97%; }
.width-97-1 { width: 97.1%; }
.width-97-2 { width: 97.2%; }
.width-97-3 { width: 97.3%; }
.width-97-4 { width: 97.4%; }
.width-97-5 { width: 97.5%; }
.width-97-6 { width: 97.6%; }
.width-97-7 { width: 97.7%; }
.width-97-8 { width: 97.8%; }
.width-97-9 { width: 97.9%; }
.width-98 { width: 98%; }
.width-98-1 { width: 98.1%; }
.width-98-2 { width: 98.2%; }
.width-98-3 { width: 98.3%; }
.width-98-4 { width: 98.4%; }
.width-98-5 { width: 98.5%; }
.width-98-6 { width: 98.6%; }
.width-98-7 { width: 98.7%; }
.width-98-8 { width: 98.8%; }
.width-98-9 { width: 98.9%; }
.width-99 { width: 99%; }
.width-99-1 { width: 99.1%; }
.width-99-2 { width: 99.2%; }
.width-99-3 { width: 99.3%; }
.width-99-4 { width: 99.4%; }
.width-99-5 { width: 99.5%; }
.width-99-6 { width: 99.6%; }
.width-99-7 { width: 99.7%; }
.width-99-8 { width: 99.8%; }
.width-99-9 { width: 99.9%; }
.width-100 { width: 100%; }
